#index {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: BOOMBOX;
}

#index_container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* 
main
*/
#main {
  width: 100%;
  height: 100vh;
  border: 1px solid transparent;
  opacity: 0;
}

#index {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  backface-visibility: hidden;
  font-family: BOOMBOX;
  /* 
  现在所有人跟着Index位移
  */
}

#index_container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* 
main
*/
#main {
  width: 100%;
  height: 100vh;
  border: 1px solid transparent;
  opacity: 0;
}

/* 用户提示 */
#index #index_container .welcome {
  font-size: .8rem;
  line-height: 4rem;
  text-align: center;
  position: absolute;
  color: black;
  width: 80%;
  left:-50%;
  bottom: 2%;
  background-image: url(../../images/home/index/cloud.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: move 2s ease 1.5s forwards;
}

#index #index_container .welcome span {
  color: cadetblue;
  /* font-size: 1rem; */

}

/* 

homyit

*/
.title_e {
  margin-top: 10vh;
}

.title_c {
  margin-top: 10vh;
}

.title_e_box {
  color: white;
  position: relative;
  transform-style: preserve-3d;
  perspective: 200px;
  font-size: 3rem;
  margin: 10vw auto;
}

.homyit,
.studio {
  text-align: center;
  position: relative;
  transition: transform 1.5s;
  font-family: BOOMBOX;
}

.homyit {
  transform-origin: 50% 0 -2rem;
  transform: rotateX(-90deg);
}

.studio {
  transform-origin: 50% 100% -4rem;
  transform: rotateX(90deg);
}

.title_e_box::before {
  display: block;
  content: "";
  position: absolute;
  width: 18rem;
  height: 2px;
  background-color: whitesmoke;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  animation: longer 1s 1.5s 1;
}

@keyframes longer {
  from {
    width: 0;
  }

  to {
    width: 18rem;
  }
}

/* 
宏奕工作室的中文
*/


.stage {
  width: 100%;
  height: 100%;
  position: relative;
}

.stage>div {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  transform-style: preserve-3d;
  perspective: 10000px;
}

.font {
  margin: 1rem;
  font-size: 4rem;
  color: white;
  font-weight: bolder;
  transition: all 1s;
}

.hong {
  transform: translate(-1rem, -3rem) rotate(180deg);
}

.yi {
  transform: translate(1rem, -2rem);
}

.gong {
  transform: translate(-1rem, 1rem);
}

.zuo {
  transform: translate(0, 4rem);
}

.shi {
  transform: translate(1rem, 3rem);
}

/*  
logo
*/
#logo {
  display: block;
  width: 25vw;
  height: 25vw;
  background-image: url(../../images/home/index/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5vw;
  margin-top: 5vw;
}


/* 
最后一段文字
*/
.arrow {
  width: 100%;
  position: relative;
  height: 2rem;
}

.index_bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 4vw;
  text-align: center;
  font-size: 1rem;
}

.left_arrow,
.right_arrow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 1.5rem;
  height: 0.25rem;
  background-color: rgba(255, 255, 255, 0.589);
}

.left_arrow {
  transform: translate(-40%, 1rem) rotate(30deg);
}

.right_arrow {
  transform: translate(40%, 1rem) rotate(-30deg);
}

/* 
时间标题样式
*/

.time {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-family: BOOMBOX;
}

.time>div:nth-child(1){
  writing-mode: vertical-lr;
}

.time>div:nth-child(3){
  writing-mode: vertical-lr;
}

.time_line {
  position: relative;
  width: 0.25rem;
  height:2.5rem;
  background-image: linear-gradient(180deg, white 0, lightyellow 100%);
  margin: 0.5rem 0.5rem;
}


@keyframes move {
  100% {
    left: 0%
  }
}
